@using Entities.DTOs.AppUserDTOs;
@model UserRegisterDto
@{
	ViewData["Title"] = "Register";
}

<style>
	.gradient-custom-3 {
		/* fallback for old browsers */
		background: #84fab0;
		/* Chrome 10-25, Safari 5.1-6 */
		background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5));
		/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
		background: linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5))
	}

	.gradient-custom-4 {
		/* fallback for old browsers */
		background: #84fab0;
		/* Chrome 10-25, Safari 5.1-6 */
		background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1));
		/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
		background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1))
	}
</style>

<section class="vh-100 bg-image"
		 style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');margin-top:150px">
	<div class="mask d-flex align-items-center h-100 gradient-custom-3">
		<div class="container h-100">
			<div class="row d-flex justify-content-center align-items-center h-100">
				<div class="col-12 col-md-9 col-lg-7 col-xl-6">
					<div class="card" style="border-radius: 15px;">
						<div class="card-body p-5">
							<h2 class="text-uppercase text-center mb-3">Create an account</h2>

							<form method="post">
								<div asp-validation-summary="ModelOnly" class="text text-danger"></div>
								<div class="form-outline mb-4">
									<label asp-for="FullName" class="form-label"></label>
									<input asp-for="FullName" class="form-control form-control-lg" />
									<span asp-validation-for="FullName" class="text text-danger"></span>
								</div>

								<div class="form-outline mb-4">
									<label asp-for="Username" class="form-label"></label>
									<input asp-for="Username" class="form-control form-control-lg" />
									<span asp-validation-for="Username" class="text text-danger"></span>
								</div>

								<div class="form-outline mb-4">
									<label asp-for="Email" class="form-label"></label>
									<input asp-for="Email" class="form-control form-control-lg" />
									<span asp-validation-for="Email" class="text text-danger"></span>
								</div>

								<div class="form-outline mb-4">
									<label asp-for="PhoneNumber" class="form-label"></label>
									<input asp-for="PhoneNumber" class="form-control form-control-lg" />
									<span asp-validation-for="PhoneNumber" class="text text-danger"></span>
								</div>

								<div class="form-outline mb-4">
									<label asp-for="Password" class="form-label"></label>
									<input asp-for="Password" type="password" class="form-control form-control-lg" />
									<span asp-validation-for="Password" class="text text-danger"></span>
								</div>

								<div class="form-outline mb-4">
									<label asp-for="ConfirmPassword" class="form-label">Confirm Password</label>
									<input asp-for="ConfirmPassword" type="password" class="form-control form-control-lg" />
									<span asp-validation-for="ConfirmPassword" class="text text-danger"></span>
								</div>

								<div class="d-flex justify-content-center">
									<button type="submit"
											class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">
										Register
									</button>
								</div>

								<p class="text-center text-muted mt-5 mb-0">
									Have already an account? <a asp-controller="Account" asp-action="Login"
																class="fw-bold text-body"><u>Login here</u></a>
								</p>

							</form>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

