@using Entities.DTOs.PropertyDTOs;
@model PropertyPostDto
@{
	ViewData["Title"] = "Create";
}

<div class="row" style="margin-top:150px ; display:flex ; justify-content:center ; align-items:center">
	<div class="col-md-6 grid-margin stretch-card">
		<div class="card">
			<div class="card-body">
				<h4 class="card-title">Elan yarat</h4>
				<p class="card-description">Eviniz haqqında məlumatları daxil edin</p>
				<form method="post" class="forms-sample" enctype="multipart/form-data">
					<div class="form-group">
						<label asp-for="Title"></label>
						<input asp-for="Title" class="form-control" placeholder="Title">
						<span asp-validation-for="Title"></span>
					</div>
					<div class="form-group">
						<label asp-for="Description"></label>
						<input asp-for="Description" class="form-control" placeholder="Description">
						<span asp-validation-for="Description"></span>
					</div>
					<div class="form-group">
						<label asp-for="Price"></label>
						<input asp-for="Price" class="form-control" placeholder="Price">
						<span asp-validation-for="Price"></span>
					</div>
					<div class="form-group">
						<label asp-for="Area"></label>
						<input asp-for="Area" class="form-control" placeholder="Area">
						<span asp-validation-for="Area"></span>
					</div>
					<div class="form-group">
						<label asp-for="Location"></label>
						<input asp-for="Location" class="form-control" placeholder="Location">
						<span asp-validation-for="Location"></span>
					</div>
					<div class="form-group">
						<label asp-for="Rooms"></label>
						<input asp-for="Rooms" type="number" class="form-control" placeholder="Rooms">
						<span asp-validation-for="Rooms"></span>
					</div>
					<div class="form-check" style="margin-left:-1.25rem">
						<label asp-for="HasGarage" class="form-check-label">Does your house has garage?</label>
						<input asp-for="HasGarage" class="form-check-input" style="margin-left:0.5rem" placeholder="Garage">
						<span asp-validation-for="HasGarage"></span>
					</div>
					<div class="form-group">
						<label asp-for="FormFiles">Images</label>
						<input asp-for="FormFiles" class="form-control">
						<span asp-validation-for="FormFiles"></span>
					</div>
					<div class="form-check form-check-inline" style="flex-direction: column !important; justify-content:start; width: 100% !important">
						<label>Amenities</label> <br />
						<div class="pretty">
							@foreach (var item in ViewBag.Amenities)
							{
								<div class="manual-item">
									<input class="form-check-input" style="margin: 0" type="checkbox" name="propertyAmenities" value="@item.Id">
									<label class="form-check-label" style="width:max-content">@item.Value</label>
								</div>
							}
						</div>
					</div>
					<button type="submit" class="btn btn-success me-2 mt-4">Submit</button>
					<button class="btn btn-light">Cancel</button>
				</form>
			</div>
		</div>
	</div>
</div>

